/* Main Site Properties */
html, body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-height: calc(100% - 75px);
}

/* Site Header Bar */
.siteHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
}

/* Site footer bar for copyright info */
.customFooter {
    text-align: center;
    height: 75px;
    bottom: 0%;
    width: 100%;
    color: rgb(108, 117, 125);
    background: rgb(245, 245, 245);
}

.navbar-brand {
    width: 150px;
    margin-right: 10px;
}

.navbar-brand img {
    height: 50px;
}

/* Main Site Colors */
.backgroundNavy {
    background-color: rgb(3, 0, 78)
}
.backgroundDarkBlue {
    background-color: rgb(0, 43, 174)
}
.backgroundTeal {
    background-color: rgb(0, 198, 188)
}
.backgroundMidBlue {
    /* Use for Edit/Add Link buttons */
    
    background-color: rgb(43, 113, 255)
}
.backgroundBarBlue {
   background-color: rgb(56, 109, 216)
}

/* Semester Sections */
.semesterClassesHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 40px;
    max-height: 100px;

    padding: 15px;

    /* color scheme */
    /* background-color: rgb(0, 43, 174);
    color: white; */

    /* text settings */
    font-weight: bold;
    font-size: 35px;
}

.semesterClassesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;

    /* debug border */
    /*
    border-color: maroon;
    border-style: solid;
    border-width: 1px;
    */
}

/* Cards for Each Class */
.classCard {
    height: 300px;
    width: 250px;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;

    border-color: rgb(180, 180, 180);
    border-style: solid;
    border-width: 1px;
}

/* Text Styling for Class Cards */
.classCardInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* debug border */
    /*
    border-color: maroon;
    border-style: solid;
    border-width: 1px;
    */
}
.classColorCircle {
    height: 50px;
    width: 50px;
    border-radius: 100px;

    background-color: orangered;
}
.classInfo {
    padding: 10px;
}
.classInfo h2{
    margin: 0px;
    line-height: 0px;
}
.classInfo p {
    color: rgb(180, 180, 180);
}

/* Link List Styling for Class Cards */
.linkList {
    list-style-type: none;

    margin: 0;
    padding: 0;
}

.linkList li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.linkList a:link {
    text-decoration: none;
    color: rgb(0, 101, 232);
}
.linkList a:visited {
    text-decoration: none;
    color: rgb(136, 83, 237);
}
.linkList a:hover {
    text-decoration: none;
    color: rgb(0, 62, 232);
}
.linkList a:active {
    text-decoration: none;
    color: orange;
}
