{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <nav id="featureSpy" class="navbar navbar-light bg-light">
        <ul class="nav nav-pills">
          <li class="nav-item">
              <a href="#features" class="nav-link">Features</a>
          </li>
          <li class="nav-item">
              <a href="#implementation" class="nav-link">Implementation Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contributors">Contributors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Us</a>
          </li>
        </ul>
    </nav>
    <br>
    <div class="container" data-spy="scroll" data-target="#featureSpy" data-offset="0">
        <h2 id="features">Features</h2>
        <div>
            <h4>Navigate Through Your Courses Easily</h4>
            <p>
                AllSchool provides a simpler way to access your course resources. Gone are the days of navigating between countless different websites to complete all your coursework, and missing half of it anyway: AllSchool centralizes them into an easy-to-use hub that you can do what you need to do without the added hassle. 
            </p>
            <br>
            <h4>Collaborate With Your Peers</h4>
            <p>
                Do you know a resource that can help your classmates? Share it with the other people in the course! The Extra Resources section for each course allows students and course staff to add more resources to make your learning experience more centralized. 
            </p>
            <br>
            <h4>Organize Your Courses</h4>
            <h5><i>We Realize That Organizing Your Courses Is A Hassle</i></h5>
            <p>
                Given the abundance of useful online resources and the recent need for remote learning, many educational institutions are employing multiple platforms for education. However, keeping track of these different websites can be difficult for both students and teachers. With AllSchool, students have a hub to access cross-platform materials and resources-truly possessing a space for all school.
            </p>
        </div>

        <h2 id="Implementation">Implementation Details</h2>
        <div>
            <h4>Tech Stack</h4>
            <p>For this particular project, we decided to use Django Full-Stack.</p>

            <h4>Authentication</h4>
            <p>Since we're using Django, we decided to use Django allauth. We chose allauth due to the fact that it was simpler </p>
        </div>
        <h2 id="contributors">Contributors</h2>
        <div>
            <h4>Project Manager</h4>
            <p>Monika Para</p>
            <h4>Project Members</h4>
            <p>J Lee</p>
            <p>Emi Brown</p>
            <p>Larry Peng</p>
            <p>Maaheen Maajed</p>
            <p>Jacob Harris</p>
        </div>
        <br>
        <h1 id="contact">Got Ideas For Improvements?</h1>
        <p>Feel free to contact us, but not yet cuz we dont got nothing set up.</p>
    </div>
</div>
<br>
{% endblock %}