{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <nav id="featureSpy" class="navbar navbar-light bg-light">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="#whoweare" class="nav-link">Who We Are</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contributors">Contributors</a>
              </li>
            <li class="nav-item">
              <a href="#features" class="nav-link">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Us</a>
          </li>
        </ul>
    </nav>
    <br>
    <div class="container" data-spy="scroll" data-target="#featureSpy" data-offset="0">
        <h2 id="whoweare">Who We Are</h2>
        <div>
            We are a group of students who created this site in the CS196 course at University of Illinois at Urbana-Champaign. We believe in having a positive impact on the world.
        </div>
        <br><br>
        <h2 id="contributors">Contributors</h2>
        <div>
            <h4>Project Manager</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center"><strong>Monika Para</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h4>Project Members</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center"><strong>J Lee</strong></h5>
                            <p class="card-text text-muted"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center"><strong>Emi Brown</strong></h5>
                            <p class="card-text text-muted"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center"><strong>Larry Peng</strong></h5>
                            <p class="card-text text-muted"></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center"><strong>Maaheen Maajed</strong></h5>
                            <p class="card-text text-muted"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center"><strong>Jacob Harris</strong></h5>
                            <p class="card-text text-muted"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <h2 id="features">Features</h2>
        <div>
            <h4>Navigate Through Your Courses Easily</h4>
            <p>
                AllSchool provides a simpler way to access your course resources. Gone are the days of navigating between countless different websites to complete all your coursework. AllSchool centralizes them into an easy-to-use hub so that you can do what you need to do without the added hassle. 
            </p>
            <br>
            <h4>Collaborate With Your Peers</h4>
            <p>
                Do you know a resource that can help your classmates? Share it with them! The links for each course can be contributed to by students and course staff to add more resources for your benefit.
            </p>
            <br>
            <h4>Organize Your Courses</h4>
            <h5><i>We Realize That Organizing Your Courses Is A Hassle</i></h5>
            <p>
                Given the abundance of websites and online resources, as well as the recent need for remote learning, many educational institutions are employing multiple platforms for education. However, keeping track of these different websites can be difficult for both students and teachers. With AllSchool, students have a hub to access cross-platform materials and resources — truly creating a space for all school.
            </p>
        </div>
        <br><br>
        <h1 id="contact">Got Ideas For Improvements?</h1>
        <h4>Ways to help:</h4>
        <h5>Github</h5>
        <p>Leave an Issue on our <a href="https://github.com/CS196Illinois/group-2/issues">Github</a> We'll see what we can do!</p>
        <p>&Tab;<a href="https://github.com/CS196Illinois/group-2/issues">https://github.com/CS196Illinois/group-2/issues</a></p>
        <br>
        <h5>Email Us!</h5>
        <p>Feel free to <a href="mailto:manageallschool@gmail.com">email us</a> at manageallschool@gmail.com</p>
    </div>
</div>
<br>
{% endblock %}