<!DOCTYPE html>
<html lang="en">
<head>
  <!--Load static files-->
  {% load static %}

  <!--Title Block-->
  {% block title %}
  <title>AllSchool</title>
  {% endblock %}

  <!--Basic Meta Settings-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!--BOOTSTRAP CSS-->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  
  <!--Custom CSS (Emi)-->
  <link rel="stylesheet" href="{% static 'css/emimain.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
  {% load socialaccount %}
  <nav class="navbar navbar-expand-lg" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="{% url 'index' %}" class="navbar-brand"><img src="{% static 'allschool-logo.png' %}" alt="AllSchool"></a>
      </div> <!--end of navbar-brand-->
      <ul class="nav navbar-nav">
        <li class="nav-item nav-link"><a href="{% url 'index' %}">AllSchool</a></li>
        <li class="nav-item nav-link"><a href="{% url 'about' %}">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li class="nav-item nav-link"><a href="{% url 'search' %}">Browse Courses</a></li>
          <li class="nav-item nav-link"><a href="{% url 'index' %}">My Courses</a></li>
          <li class="nav-item nav-link"><a href="{% url 'logout' %}">Log Out</a></li>
          <li class="nav-item nav-link"><img class="rounded-circle" style="max-width:30%;" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Google Profile Picture"></li>

        {% else %}
          <li class="nav-item nav-link"><a href="{% provider_login_url 'google' %}">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
   {% block content %}
   {% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>