{% extends 'base_generic.html' %}
{% load socialaccount %}


{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      </div>
    {% endfor %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Course</h1>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h1 class="card-title">
                        {{course.title}}
                    </h1>
                    <h2 class="card-body">
                        {{course.course_number}}, {{course.section}}
                    </h2>
                </div>
            </div>
            <h1>Instructor</h1>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h1 class="card-title">
                        {{course.instructor.last_name}}, {{course.instructor.first_name}}
                    </h1>
                    <h2 class="card-body">
                        {{course.instructor.department}}
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <h1>Links</h1>
            {% for field in course.fields.all %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{field.name}}
                        </h4>
                        <a href= "#"  class="btn btn-primary">Go</a>

                        <a href= "#"  class="btn btn-secondary">Edit</a>
                        <a href= "{% url 'removeField' field course %}"  class="btn btn-danger">Remove</a>
                    </div>
                </div>
            {% endfor %}
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">
                        Add Link
                    </h4>
                    <div>
                        <form method='POST'> {% csrf_token %} 
                          <div class="form-group">
                            <label> Link Name </label>
                            {{fieldForm.name}}
                          </div>
                           <div class="form-group">
                            <label> URL </label>
                            {{fieldForm.hyperlink}}
                           </div>
                          <button type="submit" class="btn btn-primary">Add Field</button> 
                        </form>
                      </div> 
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
