<!DOCTYPE html>
<html>
    {% load static %}

    <head>
        <title>AllSchool | Your Courses</title>
        <link rel="stylesheet" href="{% static 'css/emimain.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <!-- Website Header -->
        <div class="siteHeader">
            <img src="allschool-logo.png", alt="AllSchool logo", width="64" height="64">
        </div>
        <!-- Semester Classes Section -->
        <div class="semesterClassesHeader">Your Current Classes</div>

        <div class="semesterClassesContainer">
            <!-- Class Card -->
            <div class="classCard">
                <div class="classCardInfo">
                    <div class="classColor">
                        <div class="classColorCircle"></div>
                    </div>
                    <div class="classInfo">
                        <h2>Class Name</h2>
                        <p>professor@illinois.edu</p>
                    </div>
                </div>
                <hr>
                <ul class="linkList">
                    <!--
                    <li><a href="">Course Page</a></li>
                    <li><a href="">Lecture</a></li>
                    <li><a href="">Discussion</a></li>
                    <li><a href="">Homework</a></li>
                    -->

                    <li><a href="">COURSE PAGE</a></li>
                    <li><a href="">LECTURE</a></li>
                    <li><a href="">DISCUSSION</a></li>
                    <li><a href="">HOMEWORK</a></li>
                </ul>
            </div>

            <!-- Test Classes -->
            <div class="classCard">
                <div class="classCardInfo">
                    <div class="classColor">
                        <div class="classColorCircle"></div>
                    </div>
                    <div class="classInfo">
                        <h2>Class Name</h2>
                        <p>professor@illinois.edu</p>
                    </div>
                </div>
                <hr>
                <ul class="linkList">
                    <!--
                    <li><a href="">Course Page</a></li>
                    <li><a href="">Lecture</a></li>
                    <li><a href="">Discussion</a></li>
                    <li><a href="">Homework</a></li>
                    -->

                    <li><a href="">COURSE PAGE</a></li>
                    <li><a href="">LECTURE</a></li>
                    <li><a href="">DISCUSSION</a></li>
                    <li><a href="">HOMEWORK</a></li>
                </ul>
            </div>
            <div class="classCard">
                <div class="classCardInfo">
                    <div class="classColor">
                        <div class="classColorCircle"></div>
                    </div>
                    <div class="classInfo">
                        <h2>Class Name</h2>
                        <p>professor@illinois.edu</p>
                    </div>
                </div>
                <hr>
                <ul class="linkList">
                    <!--
                    <li><a href="">Course Page</a></li>
                    <li><a href="">Lecture</a></li>
                    <li><a href="">Discussion</a></li>
                    <li><a href="">Homework</a></li>
                    -->

                    <li><a href="">COURSE PAGE</a></li>
                    <li><a href="">LECTURE</a></li>
                    <li><a href="">DISCUSSION</a></li>
                    <li><a href="">HOMEWORK</a></li>
                </ul>
            </div>
            <div class="classCard">
                <div class="classCardInfo">
                    <div class="classColor">
                        <div class="classColorCircle"></div>
                    </div>
                    <div class="classInfo">
                        <h2>Class Name</h2>
                        <p>professor@illinois.edu</p>
                    </div>
                </div>
                <hr>
                <ul class="linkList">
                    <!--
                    <li><a href="">Course Page</a></li>
                    <li><a href="">Lecture</a></li>
                    <li><a href="">Discussion</a></li>
                    <li><a href="">Homework</a></li>
                    -->

                    <li><a href="">COURSE PAGE</a></li>
                    <li><a href="">LECTURE</a></li>
                    <li><a href="">DISCUSSION</a></li>
                    <li><a href="">HOMEWORK</a></li>
                </ul>
            </div>

        </div>
    </body>
</html>