{% extends 'base_generic.html' %}
{% load socialaccount %}


{% block content %}
<div class="container">
    <h1>Current Courses</h1>
    <div class="row">
        {% if courses %}
        {% for course in courses %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Preview</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">More Info</a>
                          </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{course.title}}</h4>
                        <h5 class="card-text">{{course.instructor}}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <a href="{% url 'addcourse' %}" class="btn btn-primary my-2">Add New Course</a>
                </div>
            </div>
        </div>
    </div> <!--End of Row-->
    {% endif %}
</div>
</div>
{% endblock %}