<!-- To do: Make username/password forms useful, have submit button lead somewhere. -->

<center>
    
<font size="+3"> AllSchool </font><br>
<font size="+1"> A website aggregator for education </font>

<hr width = "50%">
<hr width = "40%">

<img src="allschool-logo.png" alt="AllSchool" width = "10%" height = "20%"><br><br>

<form>
    <label for="username">Username:<br></label><input type="text"><br><br>
    <label for="password">Password:<br></label><input type="text"><br><br>
    <input type="submit" value="Log in">
</form>
</center>